.error {
    height: 100vh;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.wrapper h1 {
    margin: 15px auto;
    padding-top: 20px;
    width: 455px;
    border-top: 2px solid #EF6357;
    color: grey;
    font-weight: normal;
}
.wrapper button {
    margin: 30px auto;
    width: 200px;
    padding: 20px;
    background-color: white;
    border: 3px solid #EF6357;
    color: #EF6357;
    font-weight: bold;
    font-size: large;
}